@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
body {
  background: #ffffff;
}
.wrapper2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper2 {
  position: absolute;
  background: rgb(168, 168, 168);
  max-width: 365px;
  border-radius: 15px;
  text-align: center;
  padding:  25px 25px 25px 25px;
  float: right;
  bottom: 30px;
  right: 30px;
  box-shadow: 4px 4px 8px;
}
.wrapper.hide{
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.content {
  bottom: 30px;
}
.wrapper2 .content {
  margin-top: 10px;
}
.content header {
  font-size: 25px;
  font-weight: 600;
}
.content p {
  color: #222222;
  margin: 5px 0px 20px 0;
}
.content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons item{
  margin: 0 10px;
}
.buttons button{
  padding: 10px 20px;
  background-color: #000;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;;
}
.buttons a{
  color: #000;
}