body {
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

.topnav {
background-color: #333;
overflow: hidden;
}

.topnavlinks {
  float: right;
  color: #FFFF;
    text-decoration: none;
  padding: 14px 16px;
  font-size: 18px;
  vertical-align: middle
}

.topnavlinks:hover {
  transition: 0.5s;
  background-color: lightgreen
}

.name {
  font-size: 16px;
  color: white;
  border-radius: 0px;
}

#startseite {
  background-color: red
}
.Logo {
  float: left;
  height: 50px;
  width: 50px;
  -webkit-filter: invert(1);
    filter: invert(1);
}
